@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}

<div class="sidebar" data-background-color="white">

  <!-- Logo -->
  <div class="sidebar-logo">
    <div class="logo-header" data-background-color="white">
      <a href="~/" class="logo">
        <img src="~/img/logo_dark.svg" alt="navbar brand" class="navbar-brand" height="20" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
  </div>

  <!-- Nav List -->
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

@if (User.IsInRole("Teacher") || User.IsInRole("Student"))
{ 
        <!-- Dashboard  -->
        <li class="nav-item active">
          <a href="~/Dashboard">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
       
        <!-- Courses -->
        <li class="nav-item ">
          <a data-bs-toggle="collapse" href="#sidebarCourses">
            <i class="fas fa-book"></i>
            <p>Courses</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="sidebarCourses">
            <ul class="nav nav-collapse">
              <li>
                <a href="~/Courses">
                  All Courses
                </a>
              </li>
              <li>
                <a>
                  <i class="fas fa-star"></i>
                  Courses 1
                </a>
              </li>
              <li>
                <a>
                  <i class="fas fa-star"></i> Courses 2
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Assignments -->
        <li class="nav-item ">
          <a href="~/Dashboard/Assignment">
            <i class="fas fa-edit"></i>
            <p>Assignments</p>
          </a>
        </li>

        <!-- Calendar -->
        <li class="nav-item ">
          <a href="~/Dashboard/Calendar">
            <i class="fas fa-calendar-alt"></i>
            <p>Calendar</p>
          </a>
        </li>
}

@if (User.IsInRole("Admin"))
{
  var isAdminCoursesPage = currentController == "Courses" && currentArea == "Admin";
  var isAdminTeachersPage = currentController == "Teachers" && currentArea == "Admin";
  var isAdminStudentsPage = currentController == "Students" && currentArea == "Admin";
  
        <!-- Management (only for admin roles)  -->
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Management</h4>
          </li>
          <li class="nav-item @(isAdminCoursesPage ? "active" : "")">
            <a href="~/Admin/Courses">
              <i class="fas fa-book"></i>
              <p>Courses</p>
            </a>
          </li>
          <li class="nav-item @(isAdminTeachersPage ? "active" : "")">
            <a href="~/Admin/Teachers">
              <i class="fas fa-user-tie"></i>
              <p>Teachers</p>
            </a>
          </li>
          <li class="nav-item @(isAdminStudentsPage ? "active" : "")">
            <a href="~/Admin/Students">
              <i class="fas fa-graduation-cap"></i>
              <p>Students</p>
            </a>
          </li>
}

    <!-- Subsectio: Settings and Help  -->
    <li class="nav-section">
      <span class="sidebar-mini-icon">
        <i class="fa fa-ellipsis-h"></i>
      </span>
      <h4 class="text-section">Settings</h4>
    </li>
    <li class="nav-item ">
      <a href="~/Account">
        <i class="fas fa-cog"></i>
        <p>Settings</p>
      </a>
    </li>
    <li class="nav-item ">
      <a href="~/Dashboard/Help">
        <i class="fas fa-question"></i>
        <p>Help</p>
      </a>
    </li>
    </ul>
  </div>

</div>

</div>