@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Work In Progress";
}

<div class="container">
    <div class="text-center mt-5">
        <h4>This feature is currently under construction.</h4>
        <h4>Please check back later!</h4>
        <img src="~/img/work-in-progress.png" alt="Work in Progress" style="max-width: 400px;" />
    </div>
</div>
