@model ComIT_eLearning.Models.Course

@{
    ViewData["Title"] = "Edit a Course";
}

<div class="d-flex justify-content-between align-items-end">
    <h1 class="mb-0">Edit a Course</h1>
    <p class="mb-0"><a asp-action="Index">Back to List</a></p>
</div>

<hr />

@await Html.PartialAsync("_Form")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
