@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-5 mb-5">About</h1>
    <p>This is the final project for ComIT .NET Core Course.</p>
    <p>GitHub Repository:
        <a href="https://github.com/ikulan/ComIT_eLearning" target="_blank">
            https://github.com/ikulan/ComIT_eLearning
        </a>
    </p>
    <p>My portfolio:
        <a href="https://ikulan.github.io" target="_blank">https://ikulan.github.io</a>
    </p>
</div>
