@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1 class="mt-4">E-Learning System</h1>
    <h2>Project Overview</h2>
    <p>The goal of this project is to develop a web-based E-Learning system that enables teachers to manage and record
        students' learning progress, assignments, scores, and attendance. This platform will provide an intuitive
        interface for teachers, students, and administrators to streamline learning tracking and class management.</p>

    <h2>Key Features</h2>
    <ul>
        <li>
            <p>User Management: Role-based access for teachers, students, and administrators.</p>
        </li>
        <li>
            <p>Course & Class Management: Create and manage courses, enroll students, and assign teachers.</p>
        </li>
        <li>
            <p>Attendance Tracking: Mark and review student attendance.</p>
        </li>
        <li>
            <p>Assignments: Create assignment contents by edit texts or uploading pdf files.</p>
        </li>
        <li>
            <p>Grading: Record students' assignment and exam grades.</p>
        </li>
        <li>
            <p>Announcements & Notifications: Email and in-app notifications for course announcements and important
                dates
                (e.g. assignment deadline, exam dates) reminders.</p>
        </li>
        <li>
            <p>Reporting & Analytics: Generate reports on student performance and engagement.</p>
        </li>
    </ul>

    <h2>Technology Stack</h2>
    <ul>
        <li>
            <p>Frontend: HTML, CSS, Bootstrap (Template: <a
                    href="https://themekita.com/demo-kaiadmin-lite-bootstrap-dashboard/documentation/index.html"
                    target="_blank">Kaiadmin</a>), jQuery
        <li>
            <p>Backend: ASP.NET Core MVC (C#, .NET 8.0)</p>
        </li>
        <li>
            <p>Database: SQL Server</p>
        </li>
        <li>
            <p>Authentication: ASP.NET Core Identity</p>
        </li>
        <li>
            <p>Hosting: Azure / AWS (TBD)</p>
        </li>
        <li>
            <p>Version Control: GitHub</p>
        </li>
    </ul>
</div>
