@model ComIT_eLearning.Areas.Admin.Models.StudentViewModel

@{
    ViewData["Title"] = "Create a Student Account";
}

<div class="d-flex justify-content-between align-items-end">
    <h1 class="mb-0">@ViewData["Title"]</h1>
    <p class="mb-0"><a asp-action="Index">Back to List</a></p>
</div>

<hr />

@{
    ViewData["FormAction"] = "Create";
}

@await Html.PartialAsync("_Form")
