@model ComIT_eLearning.Areas.Admin.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Edit a Student Account";
}

<div class="d-flex justify-content-between align-items-end">
    <h1 class="mb-0">@ViewData["Title"]</h1>
    <p class="mb-0"><a asp-action="Details" asp-route-userId="@Model.UserId">Back to Details</a></p>
</div>

<hr />

@{
    ViewData["FormAction"] = "Edit";
}

@await Html.PartialAsync("_Form")
